@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ReadexPro';
  src: url('/fonts/kuf-reg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
